POSTGRES_USER=leksana
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=leksana_studio
POSTGRES_PORT=5437

REDIS_PASSWORD=CHANGE_ME
REDIS_PORT=6381

MINIO_ROOT_USER=leksana
MINIO_ROOT_PASSWORD=CHANGE_ME
MINIO_PORT=9010
MINIO_CONSOLE_PORT=9011
